@tailwind base;
@tailwind components;
@tailwind utilities;


.duration-2000 {
    transition-duration: 2000ms;
}

::-webkit-scrollbar {
    background: rgb(203 213 225);
    width: .75rem;
}

::-webkit-scrollbar-thumb {
    background: palevioletred;
    background: rgb(71 85 105);
    border: 3px solid white;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(15 23 42);
}